<h1>Burgers!</h1>

<div class="grid-container">
  <ul class="grid-item">
    <h2>Burgers Available!</h2>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/unless}}
      {{/each}}
  </ul>
  <div class="grid-item">
    <div class="img-container">
      <img src="/assets/img/burger.png">
    </div>
    <form class="add-burger">
      <div class="form-group">
        <label for="burger_name">Burger Name:</label>
        <input type="text" id="burger_name" name="name">
        <button type="submit">Add Burger</button>
      </div>
    </form>
  </div>
  <ul class="grid-item">
    <h2>Devoured Burgers!</h2>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/if}}
      {{/each}}
  </ul>
</div>